*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
   background-color: rgb(36, 36, 87);
}


/*This code was used for the 5 day forecast to align toward the bottom*/
  #bottom{
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }
 